body {
	padding-top: 50px;
}

#user_side_bar{
  overflow-y : scroll;
}

#class_hour_table{
    overflow-x : scroll;
}

#employees_list_to_payment{
    height: 150px;
    overflow-y: scroll;
}

.principal {
	padding: 40px 15px;
	text-align: center;
}

.img-center {margin:0 auto;}

.btn-remover {
	margin: -20px auto auto 200px;
}

.btn-editar {
	margin: auto auto -20px auto;
}

button#delete {
	margin: -57px auto 0px 230px;
}

h1.bemvindoLogin {
	margin: 90px auto 0 25%;
}

h1.bemvindo {
	text-align: center;
}

td {
	text-align: center;
}

.form-campo {
	display: block;
	height: 34px;
	padding: 6px 12px;

	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.form-campo[disabled],
.form-campo[readonly] {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 170px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        overflow-x: hidden;
    }
    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.list-group-item{
  border: 4px solid #ddd;
}

.btn-gray{
  background-color: #2F4F4F;
  color: #fff;
}

.btn-tab{
  background-color: #fff;
  color: #2F4F4F;
}

.callout.callout-green{
  background-color: #f0f7dc;
  border-color: #3d9970;
}

#tabs{
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  border-radius: 4px;
}

.nav-tabs.nav-justified {
  width: 100%;
  background-color: #fff;
  color: #000;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  background-color: #3d9970;
  border-bottom: 4px solid #3d9970;
  color: #fff;
}

#link_restore_password{
  color: #fff;
  /*margin-left: -200%;*/
}

#login_btn{
   margin-left: 10%;
 
}

#logo_home{
  width:27%;
  height:27%;
  margin-top: -3%;
}

#logo_logged_home{
  width:40%;
  height:40%;
  margin-top: -2%;
}

#login_menu{
  margin-top: 0.5%;
}

.popover-content {
    color: black;
}
/*
 * Skin: Green (from AdminLTE)
 * -----------
 */
.skin-green-light .navbar {
  background-color: #3d9970;
}
.skin-green-light .navbar .nav > li > a {
  color: #ffffff;
}
.skin-green-light .navbar .nav > li > a:hover,
.skin-green-light .navbar .nav > li > a:active,
.skin-green-light .navbar .nav > li > a:focus,
.skin-green-light .navbar .nav .open > a,
.skin-green-light .navbar .nav .open > a:hover,
.skin-green-light .navbar .nav .open > a:focus,
.skin-green-light .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-green-light .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-green-light .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-green-light .navbar .sidebar-toggle {
  color: #fff;
}
.skin-green-light .navbar .sidebar-toggle:hover {
  background-color: #3d9970;
}
@media (max-width: 767px) {
  .skin-green-light .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-green-light .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-green-light .navbar .dropdown-menu li a:hover {
    background: #008d4c;
  }
}
.skin-green-light .logo {
  background-color: #00a65a;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-green-light .logo:hover {
  background-color: #00a157;
}
.skin-green-light li.user-header {
  background-color: #00a65a;
}
.skin-green-light .content-header {
  background: transparent;
}
.skin-green-light .wrapper,
.skin-green-light .main-sidebar{
  background-color: #f9fafc;
}
.skin-green-light .left-side {
  background-color: #f6f6f6;
}
.skin-green-light .content-wrapper,
.skin-green-light .main-footer {
  border-left: 1px solid #d2d6de;
}
.skin-green-light .user-panel > .info,
.skin-green-light .user-panel > .info > a {
  color: #444444;
}
.skin-green-light .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-green-light .sidebar-menu > li.header {
  color: #848484;
  background: #f9fafc;
}
.skin-green-light .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 600;
}
.skin-green-light .sidebar-menu > li:hover > a,
.skin-green-light .sidebar-menu > li.active > a {
  color: #000000;
  background: #f4f4f5;
}
.skin-green-light .sidebar-menu > li.active {
  border-left-color: #00a65a;
}
.skin-green-light .sidebar-menu > li.active > a {
  font-weight: 600;
}
.skin-green-light .sidebar-menu > li > .treeview-menu {
  background: #f4f4f5;
}
.skin-green-light .sidebar a {
  color: #444444;
}
.skin-green-light .sidebar a:hover {
  text-decoration: none;
}
.skin-green-light .treeview-menu > li > a {
  color: #777777;
}
.skin-green-light .treeview-menu > li.active > a,
.skin-green-light .treeview-menu > li > a:hover {
  color: #000000;
}
.skin-green-light .treeview-menu > li.active > a {
  font-weight: 600;
}
.skin-green-light .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
.skin-green-light .sidebar-form input[type="text"],
.skin-green-light .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-green-light .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-green-light .sidebar-form input[type="text"]:focus,
.skin-green-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-green-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-green-light .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .skin-green-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}

/* Seen Notification styles*/
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li.not_seen > a:hover{
  background: #e6e6fa;
  text-decoration: none;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li.not_seen > a{
  background: #f8b801;
  text-decoration: none;
}
/* / Seen Notification styles*/
