body {
	padding-top: 50px;
}
#class_hour_table{
    overflow-x : scroll;
}

#employees_list_to_payment{
    height: 150px;
    overflow-y: scroll;
}

.principal {
	padding: 40px 15px;
	text-align: center;
}

.btn-remover {
	margin: -20px auto auto 200px;
}

.btn-editar {
	margin: auto auto -20px auto;
}

button#delete {
	margin: -57px auto 0px 230px;
}

h1.bemvindoLogin {
	margin: 90px auto 0 25%;
}

h1.bemvindo {
	text-align: center;
}

td {
	text-align: center;
}

.form-campo {
	display: block;
	height: 34px;
	padding: 6px 12px;

	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.form-campo[disabled],
.form-campo[readonly] {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 170px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        overflow-x: hidden;
    }
    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

#update_doctorate_btn{
    margin-right: 10px;
}