<!-- <?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" stopOnFailure="false" bootstrap="bootstrap.php">
</phpunit>
 -->
<phpunit bootstrap="bootstrap.php" 
colors="true" 
convertErrorsToExceptions="true"
convertNoticesToExceptions="true" 
convertWarningsToExceptions="true"
processIsolation="false" 
stopOnFailure="false" 
syntaxCheck="false" 
verbose="true"> 
</phpunit>
