*.txt
user_guide
./
.DS_Store
.buildpath
.project
.settings/
application/config/*.php
siga.sublime-workspace

/application/upload_files
/vendor-dependencies
/application/constants/EmailSenderData.php
/application/third_party
